{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialAnalyzer - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block extrajs %}{% endblock %}
    <style>
        body {
        background-color: #f5f8fa;
      }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="col-md-12">
     <ol class="breadcrumb" style="background-color: #ddecfa; color: #337ab7">

         {% block breadcrumb %}{% endblock %}
     </ol>
     {% block extra-content-top %}
     {% endblock %}
     <div class="panel panel-default">
         <div class="panel-heading">
             {% block panel-header %}
             {% endblock %}
         </div>
         <div class="panel-body">
             {% block panel-body %}
             {% endblock %}
         </div>
         <div class="panel-footer">
             {% block panel-footer %}
             {% endblock %}
         </div>
     </div>
    {% block extra-content-bottom %}
    {% endblock %}
</div>
</body>
</html>