{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Настройка параметров файла{% endblock %}
</head>
<body>
{% block extra-content-top %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
        <strong>Ошибка: </strong> {{ error }}
        </div>
    {% endfor %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
            <strong>Ошибка: </strong> {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
{% block breadcrumb %}
    <li><strong>Загрузка файла</strong></li>
{% endblock %}
{% block panel-header %}
    <h3 class="panel-title">Шаг 1 - настройка параметров файла</h3>
{% endblock %}
{% block panel-body %}
    <form action="{% url 'csvoptions' %}" method="post">{% csrf_token %}
    <p>Выберите знак разделителя для значений таблицы CSV</p>
    {{ form.separator}}
    <br>
    <p>Выберите кодировку файла</p>
    {{ form.codec }}
{% endblock %}
{% block panel-footer %}
    <button type="submit" class="btn btn-primary btn-sm" name="sb" value="proceed">Далее</button>
    </form>
{% endblock %}
</body>
</html>