{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Начало{% endblock %}
</head>
<body>
{% block breadcrumb %}
    <li><a href="{% url 'start' %}"><strong>Загрузка файла</strong></a></li>
{% endblock %}
{% block extra-content-top %}
    {% if error %}
        <div class="alert alert-danger">
            <strong>Ошибка: </strong> {{ error }}
        </div>
    {% endif %}
{% endblock %}
{% block panel-header %}
    <h3 class="panel-title">Шаг 1 - загрузка файла</h3>
{% endblock %}
{% block panel-body %}
    <p>
        Для начала вам необходимо загрузить файл формата CSV, XLS или XLSX в систему
    </p>
    <form action="{% url 'start' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input name='datafile' type="file"  placeholder="Выбрать файл">
{% endblock %}
{% block panel-footer %}
    <button type="submit" class="btn btn-primary btn-sm">Загрузить</button>
    </form>
{% endblock %}
</body>
</html>